html,
body {
    height: 100%; /* setting body as 100% of viewport height - helps to remove that extra dangling space underneath footer*/
    margin: 0; /* setting it to 0 to remove default margin borders */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("img/space1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* fixes the background so it does not "change" regardless of how many cards are displayed */
}

/*====[HEADER AREA]===================================================================================================*/
.main-header {
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background-color: #383737; */
    display: flex;
    justify-content: center;
    flex-direction: column;
  /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.7); /* I must use rgba if I want to set opacity of background color */
    padding-bottom: 30px;
}

#header-description {
    font-size: clamp(10px, 3vw, 17px);
    text-align: center;
    color: #00CF21;
    padding-bottom: 20px;
    width: clamp(100px, 50vw, 500px);
    margin: 0 auto; /* the auto margin will center the container visually in the middle */
}

.title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-family: "Orbitron", "Helvetica";
    font-weight: normal;
    color: white;
    font-size: clamp(10px, 5vw, 50px);
    color: #00CF21;
    padding: 30px;
}

#filter-area {
    display: flex;
    justify-content: center;
    color: #00CF21;
    gap: 40px;
    padding-top: 30px;
}

.filter-type{
    display: flex;
    gap: 10px;
}

/*====[CARD AREA]=====================================================================================================*/
#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* allows cards to move to the next row if there's not enough space */
    margin: 0px;
    padding: 30px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0); /* setting opacity to 0 so the space image in the background from div body show up */
}

.card {
    position: relative;
    /* height: clamp(500px, 10vw, 500px); */
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #006300;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #1F1F1F
}

.card-content {
    padding: 20px;
    padding-bottom: 40px; /* To provide some space for the "favorite" button so it doesn't overlap with the card contents*/
    font-family: "Verdana";
    color: #00CF21;
}

/* refers to the ship title of the card*/
.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
}

ul {
    border: 1px solid #006300;
    border-radius: 5px;
    list-style-type: none;
    padding: 8px;
}

li {
    padding: 8px;
    border-radius: 5px;
}

li:nth-child(even){
    background-color: #363636;
    padding: 5px;
}

/*====[FOOTER AREA]=====================================================================================================*/
.footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: auto;
    color: #00CF21;
}

button {
    text-align: center;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin: 5px;
}

.save-button {
    font-size: clamp(10px, 3vw, 17px);
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 2px solid;
    border-color: #006300;
    color: #00CF21;
    background-color: black;
    border-radius: 10px;
    font-size: 22px;
}

.credit-button {
    text-align: center;
    width: 370px;
    background-color: rgba(0, 0, 0, 0);
    color: #00CF21;
    font-size: clamp(10px, 3vw, 15px);
    margin: 0 auto; /* will center this button in the middle of its parent container */
    border-radius: 10px;
    border: 2px solid;
    border-color: #006300;
    padding: 5px;
}

#pop-up{
    display: none; /* hidden by default, will show once credit-button is pressed */
    background-color: black;
    width: 55%;
    border-radius: 30px;
    border: 2px solid;
    border-color: #006300;
    max-height: 70vh; /* limits height of the pop-up container */
    overflow-y: auto; /* adds a scroll bar */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scrollbar-color: green black;
    text-align: left;
    padding-left: 20px;
}

#pop-up h3 {
    text-align: center;
}

#close-pop-up{
    font-size: clamp(10px, 3vw, 17px);
    height: 30px;
    bottom: 5px;
    right: 5px;
    border: 2px solid;
    border-color: #006300;
    color: #00CF21;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
}